---
layout: base.njk
title: "Moon"
---
<h1>Moon</h1>
<p>Brief description of the Moon...</p>
<img src="/path/to/moon-image.jpg" alt="Moon">
<nav>
  <a href="/earth/">Earth</a>
</nav>
<h1>Moon</h1>
<img src="/assets/images/moon.jpg" alt="Image of the Moon">
<p>Description of the Moon.</p>
<nav>
    <a href="/earth">Go to the Earth Page</a>
</nav>
